@media screen and (max-width: 1166px)
{
    ul.flex{
       
        display:none;
        flex-direction: column;
        position: absolute;
        justify-content: center;
        padding: 37px 0px ;
        top: 100%;
        width: 100%;
        left: 0;
        gap: 30px;
        background-color: rgba(255, 255, 255,0.5);
   backdrop-filter: blur(70px);
       
}
nav .font .flex ul a{
   color: #95c0f0;
font-size: 30px;}

    .font{
        font-size: 35px;
        font-weight: 700;
        
    }

nav{
    position: fixed;
    
}
.close{
    display: none;
}
label .open{
display: inherit;
}

#menu-check:checked~ ul.flex{
    display: flex;
   }
  #menu-check:checked~ label .open{
   display: none;
   }
   #menu-check:checked~ label .close{
       display: inline;
       }
      
} 
@media screen and (max-width: 775px){
    h1{
        font-size:40px ;
      
    }
    header p{
        font-size: 25px;
    }
        header img{
           border: white solid 4px;
        }
       header{
        padding-bottom: 100px;
       }
       .pins{
        position: absolute;
        right: 70px;
       }
       .about,{
        padding-top: 50px;
       }
       .projects{
                padding-top: 110px;

       }
        }
        
        @media screen and (max-width: 291px){
       
             p{
                font-size: 20px
            }
        h2{
          font-size:40px ;  
        }
        } 
  